<h1>All authors:</h1>

<h3><%= link_to "Create a new author", new_author_path %></h3>

<ul>
    <% @authors.each do |author| %>
    <li>
        <p><%= link_to author.name, author_path(author) %></p>
    </li>
    <% end %>
</ul>